html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.starter-wrapper{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    width: 280px;
    height: 80px;
    font-size: larger;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
  }
  
  .login-button::before {
    position: absolute;
    content: "LOGIN";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }
  
  .login-button:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .login-button:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .login-button:active {
    transform: scale(0.95);
  }